<!DOCTYPE html>
<html>
<head>
  <title>ApiEngine</title>
  <%= stylesheet_link_tag    "api_engine/application", :media => "all" %>
  <%= javascript_include_tag "api_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
